body {
    background: #edeaff;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(body-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-heading {
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(129, 215, 204);
}

.main1 {
    color: black;
}

.main2 {
    color: rgb(6, 15, 170);
}

.main3 {
color: rgb(200, 106, 106);
    font-size: 20px;
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.stopwatch {
    width: 90%;
    max-width: 600px;
    position: absolute;
    left: 250px;
    top: 150px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) ,url(background.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.stopwatch h1 {
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons img {
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}

.buttons img:nth-child(2) {
    width: 80px;
}

